{% extends 'base.html' %}

{% block content %}
    <div class="container mx-auto p-6">
        <h1 class="text-2xl font-semibold mb-4">{{ project.name }}</h1>
        
        <div class="mb-4">
            <strong>Description:</strong>
            <p>{{ project.description }}</p>
        </div>

        <div class="mb-4">
            <strong>Created By:</strong>
            <p>{{ project.created_by.username }}</p>
        </div>

        <div class="mt-6">
            <a href="{% url 'projects:sprint_list' project.id %}" class="bg-green-400 text-white px-4 py-2 rounded hover:bg-green-700">View Sprints</a>              
            <a href="{% url 'projects:delete' project.id %}" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 ml-4">Delete Project</a>
            <a href="{% url 'projects:list' %}" class="bg-gray-600 text-white px-4 py-2 rounded hover:bg-gray-700 ml-4">Back to Project List</a>
        </div>
    </div>
    

{% endblock %}
