.fs-7 {
  font-size: 0.75rem; /* 12px */
}

.fs-8 {
  font-size: 0.6rem;
}

.fs-9 {
  font-size: 0.5rem;
}

.fs-10 {
  font-size: 0.4rem;
}
#tasksTable tbody tr:hover {
  background-color: #ffffff !important;
  --bs-table-accent-bg: #ffffff !important;
}

#tasksTable tbody tr:hover > * {
  box-shadow: none !important;
}
