<div class="modal-header">
  <h5 class="modal-title" id="sevenDayModalLabel">Delete 7D</h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body">
  <form method="post" id="sevenDayDeleteForm" action="{% url 'projects:seven_days_delete' seven_day.id %}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
    <p>
      Are you sure you want to delete the 7D
      <strong>{{ seven_day.name }}</strong>?
    </p>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-danger">Delete</button>
      <button
        type="button"
        class="btn btn-secondary ms-2"
        data-bs-dismiss="modal"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
