<div class="modal-header">
  <h5 class="modal-title" id="sevenDayModalLabel">Edit 7D</h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body">
  <form method="post" id="sevenDayUpdateForm" action="{% url 'projects:seven_days_edit' seven_day.id %}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        value="{{ seven_day.name }}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="start_date" class="form-label">Start Date</label>
      <input
        type="date"
        class="form-control"
        id="start_date"
        name="start_date"
        value="{{ seven_day.start_date|date:'Y-m-d' }}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="end_date" class="form-label">End Date</label>
      <input
        type="date"
        class="form-control"
        id="end_date"
        name="end_date"
        value="{{ seven_day.end_date|date:'Y-m-d' }}"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Update 7D</button>
  </form>
</div>
