<div class="modal-header">
  <h5 class="modal-title" id="sprintModalLabel">Edit Sprint</h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body">
  <form method="post" id="sprintDeleteForm" action="{% url 'projects:sprints_delete' sprint.id %}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
    <p>
      Are you sure you want to delete the sprint
      <strong>{{ sprint.name }}</strong>?
    </p>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-danger">Delete</button>
      <button
        type="button"
        class="btn btn-secondary ms-2"
        data-bs-dismiss="modal"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
