{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Project Management App{% endblock %}</title>
    <link href="{% static 'css/tailwind.css' %}" rel="stylesheet">

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body class="bg-gray-50">
    <nav class="bg-white shadow p-4 mb-6">
        <div class="flex justify-between items-center">
            <a href="/" class="text-3xl font-bold">Project Management</a>
            <div class="hidden md:flex space-x-4">
                <a href="{% url 'projects:list' %}" class="text-gray-700 hover:text-blue-500">Projects</a>
                <a href="{% url 'projects:start_sprint' %}" class="text-gray-700 hover:text-blue-500">Sprints</a>
            </div>
            <ul class="flex items-center space-x-4">
                <li><a href="/">Home</a></li>
                {% if user.is_authenticated %}
                    <li>Welcome, {{ user.username }}</li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    {% block content %}
    {% endblock %}
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js" integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      const token = document.querySelector('meta[name="csrf-token"]').content;
      if (token) {
        event.detail.headers['X-CSRFToken'] = token;
      }
    });
</script>
  
</html>
