{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Project Management App{% endblock %}</title>
    <link href="{% static 'css/tailwind.css' %}" rel="stylesheet">

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <!-- Alpine.js -->
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>
<body class="bg-gray-50">
    <nav>
        <ul class="flex items-center space-x-4">
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
                <li>Welcome, {{ user.username }}</li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    
    {% block content %}
    {% endblock %}

</body>
</html>
