{% extends 'base.html' %} {% load static %} {% block content %} 
{% if request.user.groups.all.0.name == "General Manager" or request.user.groups.all.0.name == "Project Planner"%} 
  {% include "projects/_projects_list.html" %} 
{% endif %} 
{% if request.user.groups.all.0.name == "Person In Charge" %}
  <div class="container py-5">
    {% include "tasks/_task_table.html" %}
  </div>
{% endif %} {% endblock %} 

{% block script %}
  <script src="{% static 'js/projects.js' %}"></script>
  <script src="{% static 'js/tasks/_task_table.js' %}"></script>
{% endblock %}
