{% extends 'base.html' %} {% load static %} {% block content %} 
{% if type == "30d" %}
<div class="container py-5">
  <div class="container d-flex justify-content-between align-items-center mb-4">
    <h1 class="h3 fw-bold">{{ sprint.project.name }} - 30D Board</h1>
    <div>
      <a
        href="{% url 'projects:sprints_list' sprint.project.id %}?type=30d"
        class="btn btn-outline-info"
      >
        🔙 Back to 30D List
      </a>
      <button
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#createTaskModal"
        id="openCreateTaskModal"
      >
        + Create Activity Source
      </button>
    </div>
  </div>
  {% include "tasks/_tasks_table.html" %}
</div>

{% include "tasks/_tasks_create_modal.html" %} 
{% endif %} 

{% if type == "7d" %}
<div class="container py-5">
  <div class="container d-flex justify-content-between align-items-center mb-4">
    <h1 class="h3 fw-bold">{{ sprint.project.name }} - 7D Board</h1>
    <div>
      <a
        href="{% url 'projects:sprints_list' sprint.project.id %}?type=7d"
        class="btn btn-outline-info"
      >
        🔙 Back to 7D List
      </a>
      <button
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#createTaskModal"
        id="openCreateTaskModal"
      >
        + Create Task
      </button>
    </div>
  </div>
  {% include "tasks/_tasks_table.html" %}
</div>

{% include "tasks/_tasks_create_modal.html" %} 
{% endif %} 
{% endblock %} 

{% block script %}
<script src="{% static 'js/tasks/tasks.js' %}"></script>
<script src="{% static 'js/tasks/_task_table.js' %}"></script>
{% endblock %}
