{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h3 fw-bold">{{ sprint.project.name }} - Sprint Board</h1>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createTaskModal" id="openCreateTaskModal">
      + Create Task
    </button>
  </div>

  <div class="d-flex flex-column gap-3">
      {% include "tasks/_task_table.html" %}
  </div>
</div>

{% include "tasks/_create_task_modal.html" %}
{% endblock %}

{% block script %}
<script src="{% static 'js/tasks.js' %}"></script>
{% endblock %}
